* {
    align-items: center;
    align-content: center;
    padding-bottom: 5px;

}

body {
    background-image: linear-gradient(#44008b, #9f45b0, #e54ed0);

}

li {
    list-style-type: none;
    display: inline;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(#d4f0fc, #89d6fb);
    border-radius: 30px;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    padding: 10px 50px 10px 50px;
}

div {
    margin: 50px;
    border: 1px solid black;
    background: linear-gradient(#d4f0fc, #89d6fb);
    border-radius: 15px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;

}

h2 {
    margin-bottom: 15px;
    font-family: 'Kalam';
    font-style: normal;
    font-style: normal;
    color: #7B0000;
    text-align: center;
}

h3 {
    text-emphasis: center;
    font-style: normal;
    font-style: normal;
    font-family: 'Kameron';
    padding: auto;

}

p {
    font-family: 'Kameron';
    font-style: normal;
    font-size: 25px;
    line-height: 30px;
    padding: 10px 50px 10px 50px;
    color: #01303f;
}

img {
    width: 100px;
    height: 100px;
}

.avatar {
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
    padding-top: 25px;
}

#logo-image {
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}

.social-media {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-left: auto;
    background-color: linear-gradient(#89d6fb, #d4f0fc);
}

form{
    padding-left: 50px;
}
input[type=text] {
    width: 75%;
    padding: 5px 12px 20px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid;
    background: linear-gradient(#89d6fb, #d4f0fc);
    color: #01303f;
}
textarea{
    border: solid;
    background: linear-gradient(#89d6fb, #d4f0fc);
    color: #01303f;    
}