.botao {
    background: #D9D9D9;
    border-radius: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    width: 175px;
    height: 150px;
}

.alinhaBotao {
    margin-top: 35px;
    margin-right: 250px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.postagem {
    position: relative;
}

.postagem .botao {
    display:inline;
}