.card-menu {
    background: #FFDCE4;
    display: flex;
    justify-content: flex-start;
    width: 270px;
    height: 80px;
    margin-left: 50px;
    align-items: center;
    margin-top: 10px;
}

a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 18px;
    text-decoration: none;    

    color: #000000;
}

/*
#icone {
    margin-left: 10px;
    margin-right: 50px;
    border-radius: 0%;
}

.icone{
    border-radius: 0%;
    width: 75px;
    width: 75px;
    padding-left: 25px;
} */

.card-menu__icon {
    border-radius: 0%;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



