body{
    background-image: url(viralata.png);
    color:rgb(0, 255, 85);
    text-align: center;
    padding: 100px 0 0 100px;
}

#viralata{
    background-color: aquamarine;
}

#caramelo{
    background-color: blanchedalmond;
}

.corFundo{
    color:rgb(3, 3, 3);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button{
    border-radius: 50;
    height: 75px;
    width: 75px;
}


