.Capa {
    height: 150px;
    width: auto;
    border-radius: 0%;
    margin-left: 30px;
}

.alinhaLivro {
    display: flex;    
    float:inline-end;
    background-color: aqua;
    
    transform: translate(25%, -255%);
    
}